<h3>Dummy login page</h3>
<form class="margin-bottom-0" role="form">
     <div class="form-group-lg">
          <input class="form-control input-lg" id="username" type="text" #username="" placeholder="Username" />
     </div><br /><br />
     <div class="form-group-lg">
          <input class="form-control input-lg" id="password" type="password" #password="" placeholder="Password" />
     </div><br /><br />
     <div class="login-buttons pull-right">
          <button class="btn btn-primary btn-lg" (click)="login($event, username.value, password.value)">Log In</button>
     </div>
     <div class="clear"></div>
</form>